*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,*::before,*::after{
    box-sizing: inherit;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    background: transparent;
    border: none;
    cursor: pointer;
}

.wrap{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


@include mq($desktop){
    .wrap{
        max-width: 1296px;
    }
}
